﻿<div class="row">
    <div class="col-md-12">
        <div align="center">
            <h2>Novo Pedido</h2>
        </div>
    </div>
    <div class="col-md-12">
        <div align="center">
            <label>Escolha seus Complementos</label>
            <div class="form-group col-md-12">
                <div>
                    <label>Alface</label>
                    <input type="button" class="btn btn-danger btn-group-sm" style="border-radius: 45%; width: 35px" value="-" />
                    <input type="button" class="btn btn-success btn-group-sm" style="border-radius: 45%; width: 35px" value="+" />
                    <input type="text" class="input-sm" />
                    <label>$Valor</label>
                </div>

                <div>
                    <label>Tomate</label>
                    <input type="button" class="btn btn-danger btn-group-sm" style="border-radius: 45%; width: 35px" value="-" />
                    <input type="button" class="btn btn-success btn-group-sm" style="border-radius: 45%; width: 35px" value="+" />
                    <input type="text" class="input-sm" />
                    <label>$Valor</label>
                </div>

                <div>
                    <label>Carne</label>
                    <input type="button" class="btn btn-danger btn-group-sm" style="border-radius: 45%; width: 35px" value="-" />
                    <input type="button" class="btn btn-success btn-group-sm" style="border-radius: 45%; width: 35px" value="+" />
                    <input type="text" class="input-sm" />
                    <label>$Valor</label>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div align="center">
            <div class="">
                <input class="btn btn-danger btn-sm" type="button" value="Voltar" onclick="IrParaLanches()" />
                <input class="btn btn-success btn-sm" type="button" value="Proximo" onclick="CalcularPreco()" />
            </div>
        </div>
    </div>
</div>
