﻿<div class="row">
    <div class="col-md-12">
        <div align="center">
            <h2>Novo Pedido</h2>
        </div>
    </div>
    <div class="col-md-12">
        <div align="center">
            <div class="form-group">
                <label for="exampleSelect2">Escolha seu Lanche</label>
                <select class="form-control" id="exampleSelect2">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div style="background-color: rgb(236, 236, 236); width: 100%; height: 20vw; margin-bottom: 10px">
            Mussum Ipsum, cacilds vidis litro abertis. Per aumento de cachacis, eu reclamis. Interagi no mé, cursus quis, vehicula ac nisi. Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi.
            Mé faiz elementum girarzis, nisi eros vermeio. Leite de capivaris, leite de mula manquis sem cabeça. Pra lá , depois divoltis porris, paradis. Casamentiss faiz malandris se pirulitá.
        </div>
    </div>

    <div class="col-md-12">
        <div align="center">
            <div class="">
                <input class="btn btn-success btn-sm" type="button" value="Proximo" />
            </div>
        </div>
    </div>
</div>