﻿<div id="divLanches">@Html.Partial("_Lanches")</div>
<div id="divComplementos">@Html.Partial("_Complementos")</div>

<script>

    $(function () {
        $("#divComplementos").hide();
    });

    function IrParaComplementos() {

        $("#divLanches").hide();
        $("#divComplementos").show();
    }

    function IrParaLanches() {
        $("#divComplementos").hide();
        $("#divLanches").show();
    }

    function CalcularPreco() {
        alert("Efetuar Calculo");
    }

</script>
