﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div align="center">
            <h2>Pedidos</h2>
        </div>
    </div>
    <div class="col-md-12">
        <div align="center">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Codigo</th>
                        <th scope="col">Lanche</th>
                        <th scope="col">Complementos</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Data/Hora</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @Html.Partial("_Pedidos")
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-12" align="center">
        @Html.ActionLink("Novo Pedido","Index","Pedidos", routeValues: null, htmlAttributes: new { target = "_blank", @class = "btn-block btn-sm btn-success" } )
    </div>
</div>
